@media screen and (max-width: 720px) {
    figure {
        display: inline-block;
        width: 44vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 44vw;
        height: 44vw;
        object-fit: cover;
    }

    figure figcaption {
        font-size: 4.5vw;
        margin-top: 1vh;
        color: aliceblue;
        text-align: center;
    }

    h1 {
        color: aliceblue;
        font-size: 7vw;
        margin-left: 1vw;
    }
}

@media screen and (min-width: 721px) {
    figure {
        display: inline-block;
        width: 17vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 17vw;
        height: 17vw;
        object-fit: cover;
    }

    figure figcaption {
        font-size: 2vw;
        margin-top: 1vh;
        color: aliceblue;
        text-align: center;
    }

    h1 {
        color: aliceblue;
        font-size: 2vw;
        margin-left: 1vw;
    }
}