@media screen and (max-width:720px) {
    h1 {
        color: aliceblue;
        text-align: center;
        font-size: 5vw;
    }

    a {
        color:aliceblue;
    }

    .maingrid h3 {
        font-size: 4vw;
    }

    .maincontainer {
        grid-area: 1/1/1/6;
    }

    .title {
        width: 37.5vw
    }

    .list {
        width: 15vw;
    }

    table, tr, td, th {
        color: black;
        text-align: center;
        font-size: 4vw;
        border: 2px solid darkslategrey;
        border-collapse: collapse;
        padding: 0.5vw;
    }

    .Modded {
        cursor:pointer;
    }

    .Vanilla {
        cursor:pointer;
    }
}

@media screen and (min-width:721px) {
    h1 {
        color: aliceblue;
        text-align: center;
        font-size: 1.9vw;
    }

    a {
        color:aliceblue;
    }

    .maingrid h3 {
        font-size: 1.33vw;
    }

    .maincontainer {
        grid-area: 1/2/1/10;
    }

    .title {
        width: 37.5vw
    }

    .list {
        width: 15vw;
    }

    table, tr, td, th {
        color: black;
        text-align: center;
        font-size: 1.25vw;
        border: 2px solid darkslategrey;
        border-collapse: collapse;
        padding: 0.5vw;
    }

    .Modded {
        cursor:pointer;
    }

    .Vanilla {
        cursor:pointer;
    }
}