@media screen and (max-width:720px){
    body {
        background-color: #333;
        margin-bottom: 9vw;
    }

    body ul {
        display: flow-root;
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
        background-color: #444;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    body li {
        font-size: 4vw;
    }

    li {
        display: block;
    }

    li a {
        display: none;
        text-align: center;
        padding: 10px 16px;
        color: aliceblue;
        text-decoration: none;
    }

    li a:hover {
        background-color: #222;
    }

    .menu {
        display: block;
        float: left;
    }

    .menuelements {
        position: absolute;
        margin-top: calc(4vw + 20px);
        clear: both;
        float: left;
    }

    .menutop:hover ul li a{
        display: block;
    }

    .sitename {
        padding: 10px 16px;
        margin: 0;
        float: right;
        color: orangered;
        font-family: monospace;
    }

    ul img {
        padding-top: 4px;
        padding-right: 4px;
        margin: 0;
        float: right;
        width: calc(3.5vw + 16px);
    }

    .active {
        background-color: #2a2a2a;
    }

    footer {
        background-color:lightslategray;
        color: black;
        text-align: center;
        font-size: 3vw;
        overflow-wrap: break-word;
        position: fixed;
        bottom: 0;
        width:96%;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    footer li{
        font-size: 4vw;
    }

    footer ul li a{
        display: initial;
        text-align: initial;
        padding: initial;
        text-decoration: none;
    }

    .left {
        color: aliceblue;
        float: none;
    }

    .right {
        color: aliceblue;
        float: none;
    }

    figure {
        display: inline-block;
        width: 44vw;
        margin: 1vw;
        vertical-align: top;
    }

    .warning {
        font-size: 4.5vw !important;
        text-align: center;
    }

}

@media screen and (min-width:721px){
    body {
        background-color: #333;
        margin-bottom: 1.5vw;
    }

    body ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #444;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        text-align: center;
    }

    body li {
        float: left;
        font-size: 1.5vw;
    }

    li a {
        display: block;
        text-align: center;
        padding: 10px 16px;
        color: aliceblue;
        text-decoration: none;
    }

    li a:hover {
        background-color: #222;
    }

    .menu, .secondary {
        display: none;
    }

    .sitename {
        padding: 10px 16px;
        float: right;
        color: orangered;
        font-family: 'Courier New', Courier, monospace;
    }

    ul img {
        padding-top: 4px;
        padding-right: 4px;
        float: right;
        width: calc(1.5vw + 16px);
    }

    .active {
        background-color: #2a2a2a;
    }

    footer {
        background-color:lightslategray;
        color: black;
        text-align: center;
        font-size: 1vw;
        position:fixed;
        bottom: 0;
        width: 99%;
    }

    footer ul li a{
        display: initial;
        text-align: initial;
        padding: initial;
        text-decoration: none;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }

    footer li{
        font-size: 1.5vw;
    }

    .left {
        color: aliceblue;
        float: left;
    }

    .right {
        color: aliceblue;
        float: right;
    }

    .warning {
        font-size: 1.5vw !important;
        text-align: center;
        padding: 5px;
    }
}