@media screen and (max-width: 720px) {
    .info {
        grid-area: 1/1/1/6;
    }

    h1 {
        color: aliceblue;
        font-size: 6vw;
    }

    a {
        color: beige
    }

    h3 {
        color: lightgray;
        font-size: 4.5vw;
    }

    h2 {
        color: lightgrey;
        font-size: 3.5vw;
    }

    h4 {
        font-size: 5.25vw;
        color: lightgrey;
    }
    
    figure {
        display: inline-block;
        width: 44vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 44vw;
    }

    figure figcaption {
        font-size: 4.5vw;
        margin-top: 1vh;
        color: aliceblue;
        text-align: center;
    }

    .data {
        border: outset 4px #555;
        background-color: #777;
        width: 90vw;
    }

    .data h2 {
        text-align: left;
        margin-left: 1.5vw;
    }
}

@media screen and (min-width: 721px) {
    .info {
        grid-area: 1/2/1/10;
    }

    h1 {
        color: aliceblue;
        font-size: 2.5vw;
    }

    a {
        color: beige
    }

    h3 {
        color: lightgrey;
        font-size: 1.75vw;
    }

    h2 {
        color: lightgrey;
        font-size: 1.25vw;
    }

    img {
        max-width: 50vw;
    }

    h4 {
        font-size: 2vw;
        color: lightgrey;
    }

    figure {
        display: inline-block;
        width: 17vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 17vw;
    }

    figure figcaption {
        font-size: 2vw;
        color: aliceblue;
        margin-top: none;
    }

    .data {
        background: linear-gradient(146deg, rgba(200,225,225,1) 0%, rgba(165,175,175,1) 35%, rgba(90,115,115,1) 100%);
        margin: 0.75vw;
        width: 36vw;
    }

    .color {
        background: linear-gradient(146deg, rgba(240,255,255,1) 0%, rgba(190,225,225,1) 35%, rgba(125,150,150,1) 100%);
        margin:7px;
    }

    .data h2 {
        text-align: left;
        margin-bottom: 0;
        background: -webkit-linear-gradient(326deg, rgb(144, 188, 188) 0%, rgb(119, 151, 151) 35%, rgb(89, 112, 112) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .data div {
        padding: 0.75vw;
    }

    .data figcaption {
        background: -webkit-linear-gradient(326deg, rgb(203, 232, 232) 0%, rgb(154, 189, 189) 35%, rgb(118, 147, 147) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px deep;
    }
}