@media screen and (max-width: 720px) {
    html {
        scroll-padding-top: 32vw;
    }

    .info {
        grid-area: 1/1/1/6;
    }

    h1 {
        color: aliceblue;
        font-size: 6vw;
    }

    a {
        color: beige;
    }

    h3 {
        color: lightgray;
        font-size: 4.5vw;
    }

    h2 {
        color: lightgrey;
        font-size: 3.5vw;
    }

    h4 {
        font-size: 5.25vw;
        color: lightgrey;
    }
    
    figure {
        display: inline-block;
        width: 44vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 44vw;
    }

    figure figcaption {
        font-size: 4.5vw;
        margin-top: 1vh;
        color: aliceblue;
        text-align: center;
    }

    .data {
        border: outset 4px #555;
        background-color: #777;
        width: 90vw;
    }

    .data h2 {
        text-align: left;
        margin-left: 1.5vw;
    }

    .hidden {
        display: none !important;
    }

    .tags {
        width: 80vw;
        font-size: 4vw;
    }
}

@media screen and (min-width: 721px) {
    html {
        scroll-padding-top: 4vw;
    }

    .info {
        grid-area: 1/2/1/10;
    }

    h1 {
        color: aliceblue;
        font-size: 2.5vw;
    }

    a {
        color: beige
    }

    h3 {
        color: lightgrey;
        font-size: 1.75vw;
    }

    h2 {
        color: lightgrey;
        font-size: 1.25vw;
    }

    img {
        max-width: 50vw;
    }

    h4 {
        font-size: 2vw;
        color: lightgrey;
    }

    figure {
        display: inline-block;
        width: 17vw;
        margin: 1vw;
        vertical-align: top;
    }

    figure img {
        width: 17vw;
    }

    figure figcaption {
        font-size: 2vw;
        color: aliceblue;
        margin-top: none;
    }

    .data {
        background: -webkit-linear-gradient(326deg, rgb(135, 135, 135) 0%, rgb(105, 105, 105) 35%, rgb(75, 75, 75) 100%);
        margin: 0.75vw;
        width: 36vw;
    }

    .color {
        background: -webkit-linear-gradient(326deg, rgb(160, 160, 160) 0%, rgb(125, 125, 125) 35%, rgb(95, 95, 95) 100%);
        margin:0.5vw;
    }

    .data h2 {margin-bottom: 0;
        
        text-align: left;
        background: linear-gradient(146deg, rgba(220,220,220,1) 0%, rgba(185,185,185,1) 35%, rgba(150,150,150,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .data div {
        padding: 0.75vw;
    }

    .custom {
        height: 21.25vw;
    }

    .data figcaption {
        background: linear-gradient(146deg, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 35%, rgba(160,160,160,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .hidden {
        display: none !important;
    }

    .tags {
        width: 25vw;
        font-size: 1.25vw;
    }
}