@media screen and (max-width: 720px) {
    .info {
        grid-area: 1/1/1/6;
    }

    body {
        text-align: center;
        color: aliceblue;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6.25vw;
    }

    h2 a {
        color: aliceblue;
    }

    video {
        width:85vw;
        height:48vw;
        background-color:black;
        position: relative;
    }
    
    img {
        max-width: 95vw;
    }
}

@media screen and (min-width: 721px) {
    .info {
        grid-area: 1/2/1/10;
    }

    body {
        text-align: center;
        color: aliceblue;
    }

    h1 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    h2 a {
        color: aliceblue;
    } 
    
    video {
        width:69vw;
        height:39vw;
        background-color:black;
    }

    img {
        width: 10vw;
    }

    ul {
        z-index: 1;
    }
}