@media screen and (max-width: 720px) {
    .maincontainer {
        grid-area: 1/1/1/6;
        text-align: center;
    }

    h1 {
        font-size: 6vw;
        color: aliceblue
    }

    a {
        color: antiquewhite;
    }

    .title {
        font-size: 4.5vw;
    }

    .ten {
        color: lawngreen
    }

    .five {
        color: yellowgreen;
    }

    .one {
        color: palegreen
    }

    h3 {
        font-size: 3.5vw;
        color: aliceblue;
    }

    .month {
        color:orangered;
        font-size: 4vw;
    }

    .history {
        display: block;
    }
    
    figure {
        display: inline-block;
        width: 40vw;
        margin: 0;
        vertical-align: top;
        background-color: gray;
        border: .5vw outset #555;
        height:unset;
    }
}

@media screen and (min-width: 721px) {
    .maincontainer {
        grid-area: 1/1/1/11;
        text-align: center;
    }

    h1 {
        font-size: 3vw;
        color: aliceblue;
    }

    a {
        color: antiquewhite;
    }

    .title {
        font-size: 2.75vw;
    }

    .ten {
        color: lawngreen
    }

    .five {
        color: yellowgreen;
    }

    .one {
        color: palegreen
    }

    .month {
        color:orangered;
        font-size: 3vw;
    }

    h3 {
        font-size: 2vw;
        color: aliceblue;
        margin-top: -1.5vw;
    }

    .history {
        display: block;
    }
    
    figure {
        display: inline-block;
        width: 30vw;
        margin: 0;
        vertical-align: top;
        background-color: gray;
        border: .5vw outset #555;
    }
}