@media screen and (max-width: 720px) {
    body {
        color: aliceblue;
        text-align: center;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6.25vw;
    }

    .rules {
        grid-area: 1/1/1/6;
    }
}

@media screen and (min-width: 721px) {
    body {
        color: aliceblue;
        text-align: center;
    }

    h1 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    .rules {
        grid-area: 1/2/1/10;
    }
}