@media screen and (max-width:720px) {
    h1 {
        color: aliceblue;
        text-align: center;
        font-size: 7vw;
    }

    .maingrid h3 {
        font-size: 4vw;
    }

    .maincontainer {
        grid-area: 1/1/1/6;
    }

    .maincontainer h1 {
        font-size: 6vw;
    }

    .backgrounddiv1 {
        background-color: #444;
        text-align: center;
        padding: 0px 10px;
        grid-area: 2/1/2/6;
    }

    .backgrounddiv1 h1 {
        color: cornflowerblue;
        text-align: center;
    }

    .backgrounddiv1 h3 {
        color: azure;
        text-align: center;
    }

    .donation {
        grid-area: 3/1/3/6;
    }

    .donation h3 {
        color: aliceblue;
        text-align: center;
    }

    .backgrounddiv2 {
        background-color: #444;
        text-align: center;
        padding: 0px 10px;
        grid-area: 4/1/4/6;
    }

    .backgrounddiv2 h1 {
        color: cornflowerblue;
        text-align: center;
    }

    .backgrounddiv2 button {
        color: azure;
        text-align: center;
    }

    .info {
        grid-area: 5/1/5/6;
    }

    .info h1 {
        font-size: 4vw;
    }

    .form {
        text-align: center;
        grid-area: 6/1/6/6;
    }

    .comp {
        display: none
    }
}
@media screen and (min-width:721px) {
    h1 {
        color: aliceblue;
        text-align: center;
        font-size: 1.9vw;
    }

    .maingrid h3 {
        font-size: 1.33vw;
    }

    .maincontainer {
        grid-area: 1/2/1/10;
    }

    .backgrounddiv1 {
        background-color: #444;
        text-align: center;
        padding: 10px 0px;
        grid-area: 2/1/2/11;
    }

    .backgrounddiv1 h1 {
        color: cornflowerblue;
        text-align: center;
    }

    .backgrounddiv1 h3 {
        color: azure;
        text-align: center;
    }

    .donation {
        grid-area: 3/2/3/10
    }

    .donation h3 {
        color: aliceblue;
        text-align: center;
    }

    .backgrounddiv2 {
        background-color: #444;
        text-align: center;
        padding: 10px 0px;
        grid-area: 4/1/4/11;
    }

    .backgrounddiv2 h1 {
        color: cornflowerblue;
        text-align: center;
    }

    .backgrounddiv2 button {
        color: grey;
        text-align: center;
        font-size: 1.25vw;
    }

    .info {
        grid-area: 5/2/5/5;
    }

    .form {
        text-align: center;
        grid-area: 5/5/5/10;
    }

    .mobile {
        display: none
    }
}