@media screen and (max-width: 720px) {
    body {
        color: aliceblue;
    }

    .maincontainer {
        grid-area: 1/1/1/6;
    }

    .laws {
        outline: 2vw outset black;
        background-color:gray;
        margin:4vw;
        padding: 2%;
    }

    .indent {
        margin-left: 9vw;
    }

    h1 {
        font-size: 8vw;
        margin-bottom: -1vw;
    }

    h2 {
        font-size: 5vw;
    }
    
    h3 {
        font-size: 6.75vw;
        margin-bottom: -1vw;
    }

    a {
        color: aliceblue;
    }
}

@media screen and (min-width: 721px) {
    body {
        color: aliceblue;
    }

    .maincontainer {
        grid-area: 1/2/1/10;
    }

    .laws {
        outline: 0.5vw outset black;
        background-color:gray;
        margin-top: 1vw;
        margin-bottom: 2vw;
        padding: 1%;
    }

    .indent {
        margin-left: 5vw;
    }

    h1 {
        font-size: 2vw;
        margin-bottom: -1vw;
    }

    h2 {
        font-size: 1.5vw;
    }
    
    h3 {
        font-size: 1.75vw;
        margin-bottom: -1vw;
    }

    a {
        color: aliceblue;
    }
}