@media screen and (max-width: 720px) {
    .info {
        grid-area: 1/1/1/6;
    }

    table {
        grid-area: 2/1/2/6;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0 1vw;
        margin-bottom: 1.5vw;
    }

    tr {
        outline: 0.5vw outset black;
        background-color:linen;
        cursor: pointer;
    }
    
    td {
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100vw;
        font-size: 4.5vw;
        color: deepskyblue;
    }

    h1 {
        color: aliceblue;
        font-size: 6vw;
    }

    h2 {
        color: antiquewhite;
        font-size: 5vw;
    }
}

@media screen and (min-width: 721px) {
    .info {
        grid-area: 1/2/1/10;
    }

    table {
        grid-area: 2/2/2/10;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0 1vw;
        margin-bottom: 1.5vw;
    }

    tr {
        outline: 0.5vw outset black;
        background-color:linen;
        cursor: pointer;
    }
    
    td {
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 80vw;
        font-size: 1.75vw;
        color:deepskyblue
    }

    h1 {
        color: aliceblue;
        font-size: 2.5vw;
    }

    h2 {
        color: antiquewhite;
        font-size: 2vw;
    }
}