@media screen and (max-width: 720px) {
    iframe {
        grid-area: 1/1/1/11;
        width:100%;
        height: 69vh;
    }
}

@media screen and (min-width: 721px) {
    iframe {
        grid-area: 1/1/1/11;
        width:100%;
        height: 87vh;
    }
}