@media screen and (max-width: 720px) {
    body {
        color: aliceblue;
        text-align: center;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6.25vw;
    }

    a {
        color: aliceblue;
    }


    .rules {
        grid-area: 1/1/1/6;
    }
}

@media screen and (min-width: 721px) {
    body {
        color: aliceblue;
        text-align: center;
    }

    h1 {
        font-size: 2vw;
    }

    h2 {
        font-size: 1.5vw;
    }

    .rules {
        grid-area: 1/2/1/10;
    }

    button {
        text-align: center;
        border-collapse: separate;
        border-spacing: 0 1vw;
        margin-bottom: 1vw;
        grid-area: 2/4/2/8;;
        color: dimgrey;
        width: 40vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 1.5vw;;
        outline: 0.5vw outset black;
        background-color:linen;
        cursor: pointer;
    }
}