@media screen and (max-width: 720px) {
    .info {
        grid-area: 1/1/1/6;
    }

    h1 {
        color: aliceblue;
        font-size: 6vw;
    }

    h2 {
        color: antiquewhite;
        font-size: 5vw;
    }

    h3 {
        color: lightgray;
        font-size: 4.5vw;
    }

    button {
        font-size: 4vw;
        margin-bottom: 3vw;
        width: 15vw;
    }
}

@media screen and (min-width: 721px) {
    .info {
        grid-area: 1/2/1/10;
    }

    h1 {
        color: aliceblue;
        font-size: 2.5vw;
    }

    h2 {
        color: antiquewhite;
        font-size: 2vw;
    }

    h3 {
        color: lightgrey;
        font-size: 1.75vw;
    }

    button {
        font-size: 1.5vw;
        margin-bottom: 1vw;
        width: 5vw;
    }
}